<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688728187461-0kv51kijq2r28cu8tjlcci11jce1ojnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688728187461-0kv51kijq2r28cu8tjlcci11jce1ojnj</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgpyfrKorvEkSpxsCpn_1bOItVQSD92I</string>
	<key>GCM_SENDER_ID</key>
	<string>688728187461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>susoft.The-Ant</string>
	<key>PROJECT_ID</key>
	<string>the-ant-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>the-ant-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688728187461:ios:21b92e46a7c147fd</string>
	<key>DATABASE_URL</key>
	<string>https://the-ant-dev.firebaseio.com</string>
</dict>
</plist>