<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb444140993117459</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.26213983090-b70qbmctuoq6g4pjmcdo8s86a1mbaaur</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>444140993117459</string>
	<key>FacebookDisplayName</key>
	<string>The Ant</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Cho phép truy cập camera để chụp ảnh đại diện</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) Cho phép truy cập thư viện để upload ảnh đại diện</string>
	<key>UIAppFonts</key>
	<array>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-Black.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) yêu cầu sử dụng vị trí của bạn để xem vị trí công việc</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) yêu cầu sử dụng vị trí của bạn để xem vị trí công việc</string>
</dict>
</plist>
